page-units {
  ion-card {
    position: relative;
    text-align: center;
    // background-color: black!important;
    // margin: 0px!important;
    // width: 100%!important;
  }
  ion-card img {
    // opacity: 0.5;
  }
  .div-container {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  .unit-name {
    color: #5c6773;
    font-size: 18px;
    font-weight: 500;
  }
  .unit-floor {
    color: #a1aab3;
    font-size: 14px;
  }
}
