page-museum {
  font-family: Roboto;
  font-size: 16px;
  #div-outer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  #div-image {
    height: 200px;
  }
  #div-other-info {
    display: flex;
    flex-direction: column;
    height: 100%;
    //padding: 5px 10px 10px 10px;
  }
  #div-other-info-top {
    // display: flex;
    // flex-direction: column;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #e5e5e5;
    padding: 5px 25px 5px 25px;
    border-left-width: 0px;
    border-right-width: 0px;
    // height: 200px;
  }
  #div-other-info-top div {
    margin-top: 5px;
  }
  #div-description {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #e5e5e5;
    border-left-width: 0px;
    border-right-width: 0px;
    padding: 15px 25px 25px 25px;
    color: #a1aab3;
    overflow-y: auto;
    text-align: justify;
  }
  .button-units {
    background-color: #b89981;
    border-radius: 2px!important;
  }
  .button-showPrices {
    background-color: transparent;
    box-shadow: none !important;
    border-color: rgba(0, 0, 0, 0) !important;
    outline: none !important;
  }
  .icon-showPrices {
    color: black;
    font-size: 20px;
    padding-bottom: 10px;
  }
  .button-ios.activated {
    background-color: #b89981;
  }
  .div-top-part {
    display: flex;
  }
  .div-icon {
    width: 35px;
  }
  .icon-top {
    font-size: 20px;
    color: #39393c;
    margin-right: 5px;
  }
  .vertical-align {
    align-self: center;
  }
  .slide-zoom {
    height: 100%;
  }
  .slide-image {
    width: 100%;
    height: 100%;
  }
  .swiper-pagination-bullet-active {
    background: white!important;
    opacity: 1!important;
  }
  .swiper-pagination-bullet {
    background: #CDC5B4;
    opacity: 0.5;
  }
  a.morelink {
    text-decoration: none;
    outline: none;
    // display: block!important; 
  }
  .morecontent span {
    display: none;
  }
  .comment {
    width: 400px;
    background-color: #f0f0f0;
    margin: 10px;
  }
  .top-header {
    color: #5c6773;
    font-size: 18px;
  }
  .top-header-2 {
    color: #b89981;
  }
  .top-header-3 {
    color: #a1aab3;
    font-size: 14px;
  }
  .price-info-icon {
    margin-left: 5px;
  }
  .footer-ios .toolbar-ios:first-child .toolbar-background-ios {
    border-width: 0px;
  }
}
